{
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^~(.*)$", "^@mui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
