.Button {


    width: 100%;




    box-sizing: border-box;

    /* Auto layout */
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 14px 30px;
    gap: 8px;
    vertical-align: middle;


    background: linear-gradient(125.34deg, #E45116 43.06%, #EDA334 103.42%);
    /* Shadow-Blur/sm */
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.1), -2px -1px 5px 0px rgba(255, 230, 0, 0.75) inset;
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 8px;






}

.GetStarted {



    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;


}





/* Frame 27 */

.title {
    font-family: 'Manrope';

    font-weight: 900;
    width: 80%;
    font-size: 7.5vw !important;

    /* or 129% */
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.date {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 5vw !important;
    line-height: 22px;
    /* identical to box height */
    margin: 2vh 0px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

}